@page "/product"
@using Rise.Shared.Identity

<PageTitle>Departments</PageTitle>

<h1 class="title">Departments</h1>

<p>This component demonstrates fetching data from the server.</p>

<AuthorizeView Roles="@AppRoles.Administrator">
    <div class="is-flex is-justify-content-flex-end">
        <a href="products/create" class="button is-dark">Create</a>
    </div>
</AuthorizeView>

@if (departments == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in departments)
            {
                <tr @key="department.Id">
                    <td>@department.Id</td>
                    <td>@department.Name</td>
                    <td>@department.Description</td>
                </tr>
            }
        </tbody>
    </table>
}