<a class="common-link-button"
   href="@Href"
   target="@Target"
   rel="@Rel">
    @if (!string.IsNullOrEmpty(Icon))
    {
        <MudIcon Icon="@Icon" />
    }
    @Text
</a>

@code {
    [Parameter] public string Text { get; set; } = "";
    [Parameter] public string Href { get; set; } = "#";
    [Parameter] public string Target { get; set; } = "_self";
    [Parameter] public string Rel { get; set; } = "noopener noreferrer";
    [Parameter] public string? Icon { get; set; }
}