@page "/instellingen"

<PageTitle>Instellingen</PageTitle>

<h1>Hoi, dit is de instellingen pagina! Hier kan je kiezen welke meldingen je wel of niet wilt ontvangen, maar ook bijvoorbeeld je wachtwoord veranderen!</h1>